In [85]:
import json
inp = input("Enter json filename : ")
df = json.load(open(inp))
products = df["products"]
products = dict([list(i.values()) for i in products])
custo = df["customers"]
custo = sorted(custo,key=lambda x : x["customer_name"])
def cal_product(sinkar,chamnuan):
    if sinkar in products:
        return int(products[sinkar])*chamnuan 
    return 0
def change(total_price, pay):
    bank_notes = (1000,500,100,50,20,10,5,2,1)
    thorn = pay - total_price
    #print(f"Customer's change: {thorn}")
    for i in range(len(bank_notes)):
        if thorn//bank_notes[i] > 0:
            print(f"{bank_notes[i]} : {thorn//bank_notes[i]}")
        else:
            pass
        thorn = thorn - (thorn//bank_notes[i])*bank_notes[i]
for j,i in enumerate(custo):
    print(i["customer_name"])
    total = 0
    example1 = list(custo[j]['order'].items())
    for k in example1:
        total += cal_product(k[0],k[1])
    if custo[j]["money"]-total == 0:
        print("no change")
    else:
        #print(f"must thorn {custo[j]['money']-total}")
        change(total,custo[j]["money"])
    print()

Japan
no change

Tokyo
500: 1
100: 3
10: 1

ant
1000: 9
500: 1
100: 2
20: 1
10: 1
5: 1
2: 1
1: 1

In [62]:
custo

[{'customer_name': 'Japan',
  'order': {'Apple': 1, 'Grape': 1, 'Banana': 1},
  'money': 88},
 {'customer_name': 'Tokyo', 'order': {'Apple': 3, 'Banana': 5}, 'money': 1000},
 {'customer_name': 'ant', 'order': {'Apple': 3, 'Grape': 5}, 'money': 10003}]

In [65]:
example1 = list(custo[1]['order'].items())

In [72]:
total = 0
for i in example1:
    total += cal_product(i[0],i[1])
total

190

In [36]:
products

{'Apple': '15', 'Banana': '29', 'Grape': '44'}

In [70]:
cal_product("Apple",3)

45

Japan
no change

Tokyo
500: 1
100: 3
10: 1

ant
1000: 9
500: 1
100: 2
20: 1
10: 1
5: 1
1: 3